<% 
  let gnb = locals.require('gnb.json')
  var page = 'gallery'
  let sub = '목록'
  let heading = (sub && (gnb[page].children[sub].hasOwnProperty('view') === false || gnb[page].children[sub].view !== false )) ? ((gnb[page].children[sub].hasOwnProperty('title') === false || gnb[page].children[sub].title == "" ) ? sub : gnb[page].children[sub].title) : ((gnb[page].children[sub].hasOwnProperty('title') === false || gnb[page].children[sub].title == "" ) ? gnb[page].title.ko : gnb[page].children[sub].title)
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>

<div class="container">
  <div class="row">
    <% for(var i = 6; i > 0; i-- ) { %>
    <div class="col-xs-4">
      <a class="thumbnail thumbnail-link" href="<%- gnb[page].children['상세'].link %>.html">
        <span class="thumbail-crop thumbail-crop-4:3"><img src="https://i.imgur.com/yGqdVC8.jpg" alt=""></span>
        <div class="caption">
          <h3 class="thumbnail-title-2 line-ellipsis">On January 29, Dr. Chung Hak Suk from the Korea Institute of Scie</h3>
          <p>2018-05-30 / 275</p>
        </div>
      </a>
    </div>
    <% } %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%- locals.widget('_pagination.ejs') %>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 text-left">
  </div>
  <div class="col-sm-4 text-center"></div>
  <div class="col-sm-4 text-right">
    <a class="btn btn-success" href="<%- gnb[page].children['등록'].link %>.html" role="button"><i class="fa fa-pencil" aria-hidden="true"></i> 등록</a>
  </div>
</div>