<% 
  let gnb = locals.require('gnb.json')
  var page = 'gallery'
  let sub = '등록'
  let heading = (sub && (gnb[page].children[sub].hasOwnProperty('view') === false || gnb[page].children[sub].view !== false )) ? ((gnb[page].children[sub].hasOwnProperty('title') === false || gnb[page].children[sub].title == "" ) ? sub : gnb[page].children[sub].title) : ((gnb[page].children[sub].hasOwnProperty('title') === false || gnb[page].children[sub].title == "" ) ? gnb[page].title.ko : gnb[page].children[sub].title)
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>

<div class="row">
  <div class="col-sm-12">
    
    <table class="table table-bordered">
      <colgroup>
        <col style="width:100px;">
        <col>
        <col style="width:100px;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th class="active">제목</th>
          <td colspan="3">
            <input type="text" name="" id="" class="form-control input-sm">
          </td>
        </tr>
        <tr>
          <th class="active">등록일</th>
          <td>2017-11-21</td>
          <th class="active">조회수</th>
          <td></td>
        </tr>
        <tr>
          <th class="active">썸네일</th>
          <td colspan="3">
            <div class="row">
              <div class="col-xs-2">
                <input type="file" id="input-file-now" class="dropify" data-height="200" data-default-file="" data-allowed-file-extensions="jpg png gif" />
              </div>
            </div>
            <div class="xs-mt-5">
              권장비율 4:3<br>
              권장사이즈 500x375
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <div>
              
              <div style="padding:200px;background-color:skyblue;text-align:center;">에디터</div>
              
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- //table -->
    
  </div>
</div>

<div class="row">
  <div class="col-sm-4 text-left">
  </div>
  <div class="col-sm-4 text-center">
    <a class="btn btn-default" href="<%- gnb[page].children['목록'].link %>.html" role="button"><i class="fa fa-times" aria-hidden="true"></i> 취소</a>
    <a class="btn btn-success" href="<%- gnb[page].children['상세'].link %>.html" role="button"><i class="fa fa-check" aria-hidden="true"></i> 등록</a>
  </div>
  <div class="col-sm-4 text-right">
  </div>
</div>