<% 
  let gnb = locals.require('gnb.json')
  var page = 'news'
  let sub = '상세'
  let heading = (sub && (gnb[page].children[sub].hasOwnProperty('view') === false || gnb[page].children[sub].view !== false )) ? ((gnb[page].children[sub].hasOwnProperty('title') === false || gnb[page].children[sub].title == "" ) ? sub : gnb[page].children[sub].title) : ((gnb[page].children[sub].hasOwnProperty('title') === false || gnb[page].children[sub].title == "" ) ? gnb[page].title.ko : gnb[page].children[sub].title)
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>

<div class="row">
  <div class="col-sm-12">
    
    <table class="table table-bordered">
      <colgroup>
        <col style="width:100px;">
        <col>
        <col style="width:100px;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th class="active">제목</th>
          <td colspan="3">제 1회 현미경을 이용한 전기계측 워크숍 안내</td>
        </tr>
        <tr>
          <th class="active">등록일</th>
          <td>2017-11-21</td>
          <th class="active">조회수</th>
          <td>275</td>
        </tr>
        <tr>
          <th class="active">첨부파일</th>
          <td colspan="3">
            <a href="" class="board-link"><i class="fa fa-download" aria-hidden="true"></i> 제 1회 현미경을 이용한 전기계측 워크숍-참가신청서.docx</a><br>
            <a href="" class="board-link"><i class="fa fa-download" aria-hidden="true"></i> 제1회 현미경을 이용한 전기계측 워크숍_최종공지-상세내용.pdf</a>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            안녕하십니까? 한국과학기술연구원(KIST) 특성분석센터입니다.<br>
            우리 센터에서 현미경을 이용한 전기적 특성 분석 기법에 대해 소개하는 자리를 마련하였습니다.<br>
            현미경에 Nano-Probing 기술을 접목시켜 표면 및 미세 구조 분석뿐만 아니라 전기적 특성 분석을 통한 저전류 계측 기반 연구 분야를 소개함으로써 여러분들의 연구에 도움을 드리고자 합니다. 또한, 저전류 계측 시 높은 정밀도 및 분석의 신뢰성을 얻기 위해 필요한 분석 변수들을 파악함으로써 연구의 질을 향상 시키고자 합니다. 많은 분들의 관심과 참여 부탁드립니다. 감사합니다.<br>
            <br>
            - 일시 : 2017년 12월 14일(목)<br>
            - 장소 : 한국과학기술연구원(KIST), L5223호<br>
            - 대상 : 산업체 및 연구소 연구원, 대학원생<br>
            - 인원 : 총 30명(선착순)<br>
            - 등록 : 담당자에게 참가신청서 작성 후, 메일 접수 (참가신청서 별첨)<br>
            - 문의 : 김양희(02-958-6973, yhkim1022@kist.re.kr)<br>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- //table -->
    
  </div>
</div>

<div class="row">
  <div class="col-sm-4 text-left">
    <a class="btn btn-danger" href="" role="button"><i class="fa fa-trash" aria-hidden="true"></i> 삭제</a>
  </div>
  <div class="col-sm-4 text-center">
  </div>
  <div class="col-sm-4 text-right">
    <a class="btn btn-success" href="<%- gnb[page].children['수정'].link %>.html" role="button"><i class="fa fa-wrench" aria-hidden="true"></i> 수정</a>
    <a class="btn btn-default" href="<%- gnb[page].children['목록'].link %>.html" role="button"><i class="fa fa-list" aria-hidden="true"></i> 목록</a>
  </div>
</div>