<% 
  let gnb = locals.require('gnb.json')
  var page = 'professors'
  let sub = '상세'
  let heading = (sub && (gnb[page].children[sub].hasOwnProperty('view') === false || gnb[page].children[sub].view !== false )) ? ((gnb[page].children[sub].hasOwnProperty('title') === false || gnb[page].children[sub].title == "" ) ? sub : gnb[page].children[sub].title) : ((gnb[page].children[sub].hasOwnProperty('title') === false || gnb[page].children[sub].title == "" ) ? gnb[page].title.ko : gnb[page].children[sub].title)
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>

<div class="professors-profile">
  <div class="professors-profile-photo">
    <img src="https://i.imgur.com/CIsa00m.png" alt="Hong gil dong" class="img-thumbnail">
  </div>
  <div class="professors-profile-list">
    <table class="table">
      <colgroup>
        <col style="width:200px" />
        <col />
      </colgroup>
      <tbody>
        <tr>
          <th>Name</th>
          <td>Inchan Youn</td>
        </tr>
        <tr>
          <th>Position(full time/adjunct)</th>
          <td>Full time Professor</td>
        </tr>
        <tr>
          <th>KIST School Major</th>
          <td>Bio-Medical Science and Technology</td>
        </tr>
        <tr>
          <th>Division / Center</th> 
          <td>Biomedical Research Institute / Center for Bionics</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>iyoun@kist.re.kr</td>
        </tr>
        <tr>
          <th>Telephone</th>
          <td>+82-2-02-958-5913</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="page-header">
  <h2 class="h4"><i class="fa fa-caret-right" aria-hidden="true"></i> 연구 관련 이미지</h2>
</div>
<div class="container pull-left">
  <div class="row">
    <% for(var i = 4; i > 0; i-- ) { %>
    <div class="col-xs-3">
      <div class="thumbnail">
        <span class="thumbail-crop thumbail-crop-4:3"><img src="https://i.imgur.com/yGqdVC8.jpg" alt=""></span>
      </div>
    </div>
    <% } %>
  </div>
</div>
<div class="clearfix"></div>

<div class="page-header">
  <h2 class="h4"><i class="fa fa-caret-right" aria-hidden="true"></i> Research Field & Research Interest</h2>
</div>
<div class="container-fluid">
  <p>- Biomedical Engineering, Biomedical Technology, Man-Machine Interface</p>
</div>

<div class="page-header">
  <h2 class="h4"><i class="fa fa-caret-right" aria-hidden="true"></i> Description of research field</h2>
</div>
<div class="container-fluid">
  <p>- aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
</div>

<div class="page-header">
  <h2 class="h4"><i class="fa fa-caret-right" aria-hidden="true"></i> Qualifications</h2>
</div>
<div class="container-fluid">
  <p>- bbbbbbbbbbbbbb</p>
</div>


<div class="page-header">
  <h2 class="h4"><i class="fa fa-caret-right" aria-hidden="true"></i> Research Project</h2>
</div>
<div class="container-fluid">
  <p>
    - Development of personalized bio-signals analysis techniques and algorithm for muscle stimulation<br/>
    - Development of dual-band type stress monitoring and management system for life guardians service<br/>
    - Development of duel-band type stress monitoring and management system for life guardians service<br/>
    - Development of artificial nerve networking system for manipulating nerve signals from spinal cord<br/>
    - Development of man-machine interface technology using 3-dimensional facial pattern recognition system to improve the quality of life for the handicapped<br/>
    - Development of molecular imaging system and diagnostic kit for the early diagnosis and evaluation of therapeutic response in rheumatoid arthritis a feedback control system for neural stimulations and recordings
  </p>
</div>

<div class="page-header">
  <h2 class="h4"><i class="fa fa-caret-right" aria-hidden="true"></i> Paper Publication</h2>
</div>

<div class="container-fluid">
  <table class="table table-striped table-bordered">
    <thead>
      <th class="text-center">Title</th>
      <th class="text-center" style="width:200px;">Author</th>
      <th class="text-center" style="width:300px;">Journal</th>
      <th class="text-center" style="width:100px;">Date</th>
      <th class="text-center" style="width:100px;">Abstract</th>
    </thead>
    <tbody>
      <tr>
        <td class="text-left">Zonal Variations in the Three-Dimensional Morphology of the Chondron Measured In Situ using Confocal Microscopy</td>
        <td class="text-center">윤인찬,최재봉,최귀원</td>
        <td class="text-center">WC2006 세계의공,의학물리학회</td>
        <td class="text-center">200608</td>
        <td class="text-center"></td>
      </tr>
    </tbody>
  </table>
  <!-- //table -->
</div>

<div class="row xs-mt-30">
  <div class="col-sm-4 text-left">
  </div>
  <div class="col-sm-4 text-center">
  </div>
  <div class="col-sm-4 text-right">
    <a class="btn btn-success" href="<%- gnb[page].children['수정'].link %>.html" role="button"><i class="fa fa-wrench" aria-hidden="true"></i> 수정</a>
    <a class="btn btn-default" href="<%- gnb[page].children['목록'].link %>.html" role="button"><i class="fa fa-list" aria-hidden="true"></i> 목록</a>
  </div>
</div>