<% 
  let gnb = locals.require('gnb.json')
  var page = 'professors'
  let sub = '목록'
  let heading = (sub && (gnb[page].children[sub].hasOwnProperty('view') === false || gnb[page].children[sub].view !== false )) ? ((gnb[page].children[sub].hasOwnProperty('title') === false || gnb[page].children[sub].title == "" ) ? sub : gnb[page].children[sub].title) : ((gnb[page].children[sub].hasOwnProperty('title') === false || gnb[page].children[sub].title == "" ) ? gnb[page].title.ko : gnb[page].children[sub].title)
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>


<div class="row">
  <div class="col-sm-12">
    
    
    <div class="pull-right">
      <form class="form-inline">
        <div class="form-group">
          <label for="ProfessorsText">Search for KIST School Professors</label>
          <select class="form-control" name="" id="ProfessorsText">
            <option value="">Research Fields</option>
            <option value="">Name</option>
            <option value="">KIST School Major</option>
            <option value="">Division</option>
            <option value="">Center</option>
          </select>
          <input type="text" class="form-control" placeholder="">
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">조회</span></button>
      </form>
    </div>
    <div class="clearfix"></div>
    <br>
    <p>Total : 146</p>
    <table class="table table-striped table-bordered table-row-link table-layout-fixed">
      <thead>
        <th class="text-center" style="width:60px;">No</th>
        <th class="text-center" style="width:120px;">Name</th>
        <th class="text-center" style="width:120px;">Image</th>
        <th class="text-center" style="width:200px;">KIST School Major</th>
        <th class="text-center">Research Fields</th>
        <th class="text-center" style="width:200px;">Email</th>
      </thead>
      <tbody>
        <% for (var i=10; i > 0; i--) { %>
          <tr>
            <td class="text-center"><%- i %></td>
            <td class="text-center">Hong gil dong</td>
            <td class="text-center"><img src="https://i.imgur.com/CIsa00m.png" alt="Hong gil dong" class="img-thumbnail"></td>
            <td>Bio-Medical Science and Technology</td>
            <td><a href="<%- gnb[page].children['상세'].link %>.html">Biomedical Engineering, Biomedical Technology, Man-Machine Interface</a></td>
            <td>iyoun@kist.re.kr</td>
          </tr>
        <% } -%>
      </tbody>
    </table>
    <!-- //table -->
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%- locals.widget('_pagination.ejs') %>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 text-left"></div>
  <div class="col-sm-4 text-center"></div>
  <div class="col-sm-4 text-right"></div>
</div>