@import 'variables/variables';
@import 'mixins/mixins';

// 연구자관리
.professors-profile { overflow:hidden;}
.professors-profile-photo { float:left; width:180px; margin-right:20px;}
.professors-profile-list { overflow:hidden; }